.header{
  display: flex;
  flex-direction: row;
}

.announcementBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(45deg, #f002dc, #8f0af8);
  padding: 1%;
  color: white;
}

.logo{
  width: 200px;
  margin: 10% 0% 10% 10%;
}

.downloadDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 10% 12% 10%;
  background-image: linear-gradient(to left, #f002dc, #8f0af8);
  color: white;
  gap: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.input{
  background-color: white;
  width: 100%;
  padding: 6%;
  border-radius: 15px;
  font-size: large;
  color: black;
  border: none;
  text-align: center;
}


.button{
  background-color: white;
  color: black;
  padding: 6% 30% 6% 30%;
  border-radius: 15px;
  border: none;
  font-size: large;
}

#downloadHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.linkDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 20px;
}

.contentDiv{
  height: 70vh;
}

.cardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin: 10% 10% 15% 10%;
  padding: 5%;
  text-align: center;
}

.cardDiv p{
  line-height: 1.5em;
}

.aboutDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  color: black;
  margin: 7% 10% 15% 10%;
  text-align: center;
  overflow: hidden;
}

.aboutLeftDiv{
  width: 100%;
  background-image: linear-gradient(to right, #f002dc, #8f0af8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutLeftDiv img{
  width: 100%;
  padding: 10%;
}

.aboutLeftDiv h1{
  padding: 2.5%;
}

.aboutParaDiv{
  background-color: white;
  padding: 2%;
}

.aboutDiv p{
  line-height: 1.5em;
  font-size: 1.1em;
  padding: 0 10% 0 10%;
  font-weight: 450;
}

.divHeading{
  color: white;
}

.subHeading{
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 15px 15px 15px;
  width: 100%;
}

.supportHeading{
  text-align: center;
}

.FAQContainer{
  margin: 0% 10% 0% 10%;
}


@media screen and (min-width: 425px) and (max-width: 768px) {

  .downloadDiv{
    padding: 5% 5% 6% 5%;
  }
  
  .form{
    width: 70%;
  }
  
  .input{
    width: 100%;
    padding: 6%;
    text-align: center;
  }

  .button{
    padding: 4% 20% 4% 20%;
  }

  .aboutDiv{
    margin: 7% 10% 5% 10%;
  }

  .aboutDiv img{
    width: 70%;
    height: auto;
    padding: 5%;
  }

  .supportHeading{
    font-size: medium;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .downloadDiv{
    padding: 5% 5% 6% 5%;
  }
  
  .form{
    width: 60%;
  }
  
  .input{
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .button{
    padding: 3% 20% 3% 20%;
  }

  .downloadButton{
    width: 60%;
  }

  .aboutDiv{
    margin: 5% 10% 15% 10%;
    flex-direction: row;
  }

  .aboutParaDiv{
    border-radius: 0px 10px 10px 0px;
    border-bottom: none;
  }

  .aboutDiv img{
    width: 40%;
    height: auto;
    padding: 5%;
  }

  .divHeading{
    width: 75%;
  }

  .aboutDiv{
    margin: 5% 5% 5% 5%;
  }

  .subHeading{
    border-radius: 0px 10px 10px 0px;
  }

  .divHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .aboutDiv{
    margin: 3% 10% 3% 10%;
    flex-direction: row;
    align-items: stretch;
  }

  .aboutDivLeft h1{
    align-items: center;
  }

  .aboutParaDiv{
    border-radius: 0px 10px 10px 0px;
    border-bottom: none;
  }

  .aboutDivLeft img{
    height: auto;
    width: 50%;
  }

  .aboutLeftDiv{
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .aboutDiv img{
    width: 100%;
  }

  .aboutDiv:nth-child(7){
    flex-direction: row-reverse;
  }

  .aboutDiv:nth-child(9){
    flex-direction: row-reverse;
  }

}

@media screen and (min-width: 1025px){

  .downloadDiv{
    padding: 4% 4% 5% 4%;
    gap: 25px;
  }

  .form{
    width: 50%;
  }
  
  .input{
    width: 100%;
    padding: 4%;
    text-align: center;
  }

  .button{
    padding: 2% 15% 2% 15%;
  }

  .downloadButton{
    width: 50%;
  }

  .aboutDiv{
    margin: 3% 10% 3% 10%;
    flex-direction: row;
    align-items: stretch;
  }

  .aboutDivLeft h1{
    align-items: center;
  }

  .aboutParaDiv{
    border-radius: 0px 10px 10px 0px;
    border-bottom: none;
  }

  .aboutDivLeft img{
    height: auto;
    width: 50%;
  }

  .subHeading{
    border-radius: 0px 10px 10px 0px;
  }

  .downloadHeading{
    font-size: x-large;
  }

  .downloadDiv{
    font-size: x-large;
  }

  .supportHeading{
    font-size: x-large;
  }

  .divHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .aboutDiv:nth-child(7){
    flex-direction: row-reverse;
  }

  .aboutDiv:nth-child(9){
    flex-direction: row-reverse;
  }
  
}
