.header{
  background: white;
  display: flex;
  flex-direction: row;
}

.logo{
  width: 150px;
  margin: 4% 0% 0% 4%;
}

.downloadDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background-image: linear-gradient(to left, #f002dc, #8f0af8);
  color: white;
  gap: 20px;
  text-align: center;

}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.input{
  -webkit-appearance: none;
  padding: 7% 20% 7% 20%;
  border-radius: 15px;
  font-size: large;
  border: none
}

.button{
  -webkit-appearance: none;
  background-color: white;
  padding: 6% 30% 6% 30%;
  border-radius: 15px;
  border: none;
  font-size: large;
}

#downloadHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

