.header{
  display: flex;
  flex-direction: row;
}

.logo{
  width: 200px;
  margin: 10% 0% 10% 10%;
}

.downloadDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 10% 12% 10%;
  background-image: linear-gradient(to left, #f002dc, #8f0af8);
  color: white;
  gap: 20px;
  text-align: center;

}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.input{
  background-color: white;
  padding: 7% 15% 7% 15%;
  border-radius: 15px;
  font-size: large;
  color: black;
  border: none
}

.button{
  background-color: white;
  color: black;
  padding: 6% 30% 6% 30%;
  border-radius: 15px;
  border: none;
  font-size: large;
}

.downloadButton{
  background-image: linear-gradient(to right, #f002dc, #8f0af8);
  color: black;
  padding: 0%;
  border-radius: 15px;
  border: none;
  width: 80%;
  height: 50px;
  font-size: large;
  color: white;
}

#downloadHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.linkDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 20px;
}

.mediaCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}